* {

    margin: 0px;
    padding: 0px;
}

#footer {

    height: 45px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer div {

    color: white;
}

