* {

    margin: 0px;
    padding: 0px;
}

#navbar {

    height: 50px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar div {

    font-size: 23px;
    color: white;
    cursor: pointer;
}

#navbar div:hover {

    color: brown;
    border-bottom: 2px solid white;
}